 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
<div id='head'></div>
	
	
	<div id ="useit" class="content-section-b" style="border-top: 0">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/1min/1.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                	 <p>
						 &#12288
					</p>
					 <p>
						 &#12288
					</p>
                    <h3 class="section-heading">传统游戏可以任意改动数据</h3>
                     <p>
						 &#12288
					</p>
                    <p class="lead">
						传统中心化游戏规则解释完全由游戏公司垄断，凡是与游戏公司理念不合的部分可以任意修改。
					</p>
					 <p class="lead">
						策划师自以为是修改数据，游戏陷入“不砍不行，一砍就废”的逻辑怪圈。
					</p>
					 
					 <p class="lead">
						在游戏公司面前玩家只能低头认儿子，任由GM作威作福。
					</p>

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

	<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/1min/2.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	 <p>
						 &#12288
					</p>
					 <p>
						 &#12288
					</p>
                    <h3 class="section-heading">游戏公司随意操纵游戏机制</h3>
                     <p>
						 &#12288
					</p>
                    <p class="lead">
						热门物品爆率可以随意调整，土豪起手全套神装，普通玩家只能做非洲酋长。
					</p>
					 <p class="lead">
						装备强化全靠信仰，信仰不足只能充值。
					</p>
					 
					 <p class="lead">
						游戏匹配机制可以任意操纵，VIP玩家一路躺赢，平民玩家终日1V9。
					</p>

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
	
	<div class="content-section-b">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/1min/3.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                	 <p>
						 &#12288
					</p>
					 <p>
						 &#12288
					</p>
                    <h3 class="section-heading">中心化游戏弊端重重</h3>
                     <p>
						 &#12288
					</p>
                    <p class="lead">
						游戏公司与玩家处于严重不平等的关系。
					</p>
					 <p class="lead">
						GM操纵后台，肆意剥削平民玩家的血汗钱。
					</p>
					 
					 

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

	<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/1min/4.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	 <p>
						 &#12288
					</p>
					
                    <h3 class="section-heading">你的战舰由你做主</h3>
                     <p>
						 &#12288
					</p>
                    <p class="lead">
						你的舰船与你的地址绑定，你拥有对舰船的绝对所有权和可转让性。
					</p>
					 <p class="lead">
						不再是储存在某个游戏公司的服务器上的数据。
					</p>
					 
					 <p class="lead">
						你的舰船再也不受到某个游戏的策划的统治。
					</p>

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>


    <div class="content-section-b">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/1min/6.png" alt="">
                     <p class="lead">
						请把你的战舰驻入我们公司的港湾好吗？我们的游戏模式保证你玩的是心跳！战争的大赢家可以获得ETH哦！
					</p>
                </div>
				
                <div class="col-sm-6 pull-left wow fadeInLeftBig" data-animation-delay="200">
                    <img class="img-responsive " src="/static/img/1min/5.png" alt="">
                     <p class="lead">
						好船！请把你的战舰驻入我们公司的港湾好吗？我们采用虚幻10086引擎，绝对能让你玩的尽兴！

					</p>
                </div>
            </div>
            <div class="row tworow">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig" data-animation-delay="400">
                    <img class="img-responsive " src="/static/img/1min/7.png" alt="">
                     <p class="lead">
						你这个WSIC属性真好，我看是稀世的鬼船。来我们这里拍卖，保证能卖出100000ETH。
					</p>
                </div>
				
                <div class="col-sm-6 pull-left wow fadeInLeftBig" data-animation-delay="600">
                    <img class="img-responsive " src="/static/img/1min/8.png" alt="" >
                     <p class="lead">
						
						缺ETH用？哈，你这个WSIC真棒，质押在我们这里，给你100000ETH先花着!

					</p>
                </div>
				
			</div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/1min/10.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	 <p class='section-heading' style="font-size: 35px">
                	 	怎么使用你的WSIC，取决于你，而不再是那些中心化产品发行者说了算！你可以将他们用于收藏、游戏、互动。WSIC如同绝妙的玉石，怎么雕琢取决于你！
                	 </p>

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/1min/9.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	 <p>
						 当你对这些服务商不满意时，你不再是删号不玩！而是，

					</p>
					
                    <h3 class="section-heading" style="font-size: 40px">&#12288&#12288不玩了！提船走人</h3>
                     <p>
						 &#12288
					</p>
                    <p class="lead">
						你的WSIC就是你的，没有其他人能够主宰！

					</p>
			

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/1min/4.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                	 <p>
						 &#12288
					</p>
					
                    <h3 class="section-heading" style="font-size: 130px">你的战舰 由你做主</h3>
                     <p>
						 &#12288
					</p>
                    

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>


	<div id='footer'></div>
	
	
	


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/stickUp.min.js"></script>
	<script src="/static/js/script.js"></script>
 	 <script>
		$(function(){
			$('#footer').load('/static/footer.html');
			$('#head').load('/static/head.html', function() {
			  FlatfyInit();
			  $('.navbar-default').stickUp();
		  
			});
			

		})
	</script>

	<!-- StikyMenu -->
	


	<!-- Smoothscroll -->

	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 



</body>

</html>
