 <!-- FlatFy Theme - Andrea Galanti /-->
{% load staticfiles %}


<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>以太战舰-区块链集换式卡牌游戏|Ether Warship</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="/static/css/general.css"'{% static "" %}' rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css"> 
	
	<script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">以太战舰</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">区块链集换式卡牌游戏</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="/home/" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">登陆/注册</span></a>
				</li>
				<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">白皮书</span></a>
				</li>
				
			</ul>
			<ul class="list-inline intro-social-buttons">
				<li id="show" ><a href="\learn\" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.6s"><span class="network-name">一分钟了解区块链卡牌游戏</span></a>
				</li>
				
			</ul>

		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#manual"> <img class="img_scroll" src="/static/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">以太战舰</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#manual">系统介绍</a></li>
					<li class="menuItem"><a href="#pvp">战斗分红</a></li>
					<li class="menuItem"><a href="#plan">运营计划</a></li>
					<li class="menuItem"><a href="#amway">首发福利</a></li>
					<li class="menuItem"><a href="#credits">区块链技术</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	
	<div id ="manual" class="content-section-b" style="border-top: 0"> 
		
		<div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
						<a >
							<div class="item">
								<img  class="img-responsive img-rounded" src="/static/img/build.jpg" alt="">
							</div>
						</a>
						<a >
							<div class="item">
								<img  class="img-responsive img-rounded" src="/static/img/compose.jpg" alt="">
							</div>
						</a>
						<a >
							<div class="item">
								<img  class="img-responsive img-rounded" src="/static/img/trade.jpg" alt="">
							</div>
						</a>
					</div>       
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
                    <h3 class="section-heading">集换式战舰卡牌</h3>
					<div class="sub-title lead3">创造专属于玩家的个性化战舰卡牌</div>
                    <p class="lead">
						玩家可以通过建造合约创建新的战舰，或通过合成合约将两张卡牌融合，或通过交易合约在市场上挑选心仪的战舰以及出售自己的战舰。个性化形象系统保证了每艘战舰都是独一无二的。
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#downloadlink" role="button">了解更多</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">返回顶部</a></p>
				</div>  			
			</div>
        </div>
    </div>



	<!-- Use it -->
    <div id="pvp" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/battle.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">为荣誉而战</h3>
					<div class="sub-title lead3">特别设计的卡牌驱动PVP战斗系统</div>
                    <p class="lead">
						玩家可以派出自己的战舰与其他玩家进行战斗从而获得功勋值。游戏的收入将积累于奖金池，定时按功勋值结算玩家排名并分发奖金，在战斗中取得越高的功勋值将获得越多的收益。
					</p>

					 <p><a class="btn btn-embossed btn-primary" href="#downloadlink" role="button">了解更多</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">返回顶部</a></p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div id="plan" class="content-section-b">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>运营计划</h2>
				<p class="lead" style="margin-top:0">游戏系统将通过三阶段以正式上线。</p>
				
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="/static/img/icon/gift-box.svg" alt="Generic placeholder image">
				  <h3>推广阶段</h3>
				  <p class="lead">此阶段玩家可以通过邀请好友加入游戏以获得创世战舰。 </p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="/static/img/icon/bank.svg" alt="Generic placeholder image">
				   <h3>预购阶段</h3>
				   <p class="lead">此阶段玩家可以通过一定的价格购买系统产生的创世战舰，玩家支付的费用将进入奖金池。</p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="/static/img/icon/browser.svg" alt="Generic placeholder image">
				   <h3>正式上线</h3>
					<p class="lead">游戏系统正式上线后玩家只能通过建造、合成、交易获得战舰，此时游戏将依靠区块链技术自行运行。 </p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
			
			
		</div>
	</div>

    <div id="amway" class="content-section-a">

        <div class="container">

             <div class="row">
			 
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="/static/img/amway.jpg" alt="">
                </div>
			 
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">推广即得创世战舰</h3>
                    <p class="lead">系统正式上线前的首批玩家可以通过邀请好友注册的方式获得创世战舰，邀请的好友越多，获得的战舰属性越好。
					</p>
					
					<ul class="descp lead2">
						<li><i class="glyphicon glyphicon-signal"></i> 成为首批玩家，即刻享受首发福利</li>
						<li><i class="glyphicon glyphicon-cloud"></i> 邀请好友获得创世战舰</li>
						<li><i class="glyphicon glyphicon-pencil"></i> 系统上线后将关闭此功能，只能通过建造获得新战舰卡牌</li>
					</ul>
				</div>           
            </div>
        </div>

    </div>


	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center wrap_title white">
				<h2>{{ NumForShow }}</h2>
				<p class="lead" style="margin-top:0">当前玩家数</p>
				<p><a class="col-md-6 col-md-offset-3 btn btn-embossed btn-primary" href="#" role="button">立刻注册</a> </p>
			 </div>
			
		</div>
	</div>	
	
	<!-- Credits -->
	<div id="credits" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>区块链优势</h2>
				<p class="lead" style="margin-top:0">基于以太坊erc-721协议开发</p>
			 </div>
			 
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<i class="fa fa-desktop fa-4x "> </i> 
						</div>
						<div class="col-md-8 box-ct">
							<h3> 玩家所有 </h3>
							<p> 卡牌信息存储于以太坊区块链上，决不会丢失或被盗。游戏公司无法自行修改或删除数据。 </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<i class="fa fa-picture-o fa-4x "> </i> 
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> 个性角色 </h3>
						<p> 每艘战舰都由独特的标识码表示，生成的角色形象独一无二。</p> 
					  </div>
					</div>
			  </div>
		  </div>
		  
		  <div class="row tworow">
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<i class="fa fa-magic fa-4x "> </i> 
						</div>
						<div class="col-md-8 box-ct">
							<h3> 杜绝作弊 </h3>
							<p> 区块链技术确保了游戏系统只能按照既定合约进行，绝无作弊可能。 </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<i class="fa fa-heart fa-4x "> </i> 
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> 可靠收益</h3>
						<p> 奖金池中的收益除了支付合约手续费和必要的系统开支外将按功勋分配给玩家。</p> 
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
	
	<!-- Banner Download -->
	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>获取白皮书</h2>
				<p class="lead" style="margin-top:0">获取白皮书以更进一步了解项目</p>
				<p><a class="btn btn-embossed btn-primary view"  href="/static/WSIC白皮书ED3.pdf" role="button">白皮书</a></p> 
			 </div>
			</div>
		</div>
	</div>
	

	<div id='footer'></div>

    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script>
		$(function(){
			$('#footer').load('/static/footer.html')
		})
	</script>
	<!-- Smoothscroll -->
	
	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
			FlatfyInit();
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	
</body>

</html>
