 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
<div id='head'></div>
<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/credits.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   

                    <h3 class="section-heading">2018年3月27日更新公告</h3>

                    <p class="lead">
						以太战舰项目目前已进入第二阶段，玩家可以在自己的船坞查看生成的兑换码，正式上线后可凭此兑换码兑换战舰。即日起，邀请注册获得碎片修改为3个，每日最大助攻获得碎片为9个，同时每个账户每一级别只能兑换一艘战舰。
						
					</p><p class="lead">
						
						玩家可以领取100碎片的维护补偿，特此公告。
					</p>
					 <p class="lead">
						补偿领取时间为2018年3月27日0:00至2018年3月29日0:00，凡具有有效邀请(邀请注册的好友大于等于一位)的用户均可领取100碎片的补偿。
					</p>
					 
					 <p><a id='act13' class="btn btn-embossed btn-primary disabled"  role="button">补偿发放已结束</a> 

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
	

<div class="content-section-b">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/credits.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   

                    <h3 class="section-heading">2018年3月22日回档公告</h3>

                    <p class="lead">
						由于3月21日的更新补偿发放过程中服务器受到不明攻击，导致部分用户获取碎片有误，经过紧急处置现已恢复正常，并回档至3月22日中午12点整，受到影响的玩家可以领取50碎片的维护补偿，给您造成的不便敬请谅解。今后我们会增加数据库备份频率，同时加紧完成信息上链工作。
					</p>
					 <p class="lead">
						补偿领取时间为2018年3月22日22:30至2018年3月23日15:00，凡具有有效邀请(邀请注册的好友大于等于一位)的用户均可领取50碎片的补偿。
					</p>
					 
					 <p><a id='act17' class="btn btn-embossed btn-primary disabled"  role="button">补偿发放已结束</a> 

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

	<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/credits.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   

                    <h3 class="section-heading">2018年3月21日服务器维护公告</h3>

                    <p class="lead">
						以太战舰团队将于北京时间3月21日23：00进行服务器维护，由于突发情况导致维护时间超出预计，目前系统已恢复正常工作，特此公告。玩家可以领取5碎片的维护补偿，给您造成的不便敬请谅解。
					</p>
					 <p class="lead">
						补偿领取时间为2018年3月22日12:00至2018年3月25日0:00，凡具有有效邀请(邀请注册的好友大于等于一位)的用户均可领取5碎片的补偿。
					</p>
					 
					 <p><a id='act23' class="btn btn-embossed btn-primary disabled"  role="button">补偿发放已结束</a> 

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
	
	<div class="content-section-b">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " height="450" width="450" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1520794680814&di=2c81a13667b57a0059805c27441ac2dd&imgtype=0&src=http%3A%2F%2Fpic2.16pic.com%2F00%2F38%2F88%2F16pic_3888403_b.jpg" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   

                    <h3 class="section-heading">HNP代币上线公告</h3>

                    <p class="lead">
						游戏首轮认购已经结束，HNP的合约已经进入区块链，地址为0x5BB89Fa1031C0d403C11f2574220663781D986CE。
					</p>
					 <p class="lead">
						游戏上线前预充值HNP满就送创世战舰，同时充值排行榜前列用户可再得至尊战舰。
					</p>
					 
					 <p><a  class="btn btn-embossed btn-primary" href="/presell/"  role="button">活动详情</a> 
					 	<a class="btn btn-embossed btn-info" href="https://etherscan.io/token/0x5BB89Fa1031C0d403C11f2574220663781D986CE" role="button">Etherscan</a></p>

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

	<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="/static/img/credits.png" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   

                    <h3 class="section-heading">反恶意注册系统故障补偿公告</h3>

                    <p class="lead">
						近日由于我服务器被不法玩家大量恶意注册，反恶意注册系统的人工智能学习过拟合导致触发判断过于严格，造成部分用户无法正常获得邀请碎片奖励。目前我公司已升级了反恶意注册系统，同时对自觉遵守游戏规则的玩家进行补偿。
					</p>
					 <p class="lead">
						补偿领取时间为2018年3月8日17:00至2018年3月10日0:00，凡具有有效邀请(邀请注册的好友大于等于一位)的用户均可领取100碎片的补偿。
					</p>
					 
					 <p><a id='act2ed' class="btn btn-embossed btn-primary disabled"  role="button">补偿发放已结束</a> 

					 
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>
	
	


	<div id='footer'></div>
	
	
	


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/stickUp.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/jquery.cookie.js"></script> 
 	 <script>
		$(function(){
			$('#footer').load('/static/footer.html');
			$('#head').load('/static/head.html', function() {
			  FlatfyInit();
			  $('.navbar-default').stickUp();
		  
			});
			
		$("#act3").click(function(){  

	                $.ajax({
	                            url: '/act/3',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });
		$("#act7").click(function(){  

	                $.ajax({
	                            url: '/act/7',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });
		})
	</script>

	<!-- StikyMenu -->
	


	<!-- Smoothscroll -->

	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 



</body>

</html>
