 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
<div id='head'></div>
	
	


	<div class="content-section-a">
<br/>
<div class="row">
       <img class="img-responsive col-md-10 col-md-offset-1" src="/static/img/412.png"  align="middle" alt="">
        <!-- /.container -->
    </div>   </div>

    <div class="row tworow">
    	<img class="img-responsive col-md-8 col-md-offset-2" src="/static/img/presell.jpg"  align="middle" alt="">
    	</div>
    	<br/>
	<div  class="content-section-c style="margin-top:0">
		<div class="container">
			<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center wrap_title white">
				<p class="lead text-center" >将ETH转入如下地址即可自动兑换为HNP（1ETH=1000HNP）</p>
				<h3>0x7086152AA0A3f99Bc9998C5E1F8d413058d813c9</h3>
				<p class="lead2">游戏上线后将按账号HNP余额发放对应品级创世战舰</p>
				<p><a class="col-md-6 col-md-offset-3 btn btn-embossed btn-primary" href="http://8btc.com/thread-76137-1-5.html" role="button">metamask钱包使用教程</a> </p><br/>
				
			 </div>
			
		</div>
	</div>	

	<div id='footer'></div>
	
	
	


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/stickUp.min.js"></script>
	<script src="/static/js/script.js"></script>
 	 <script>
		$(function(){
			$('#footer').load('/static/footer.html');
			$('#head').load('/static/head.html', function() {
			  FlatfyInit();
			  $('.navbar-default').stickUp();
		  
			});
			

		})
	</script>

	<!-- StikyMenu -->
	


	<!-- Smoothscroll -->

	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 



</body>

</html>
