 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<div id='head'></div>
	
	
	<div class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-7 pull-right wow fadeInRightBig" style="background-color: #f5f5f5">
					
					<p class="pull-right">
						欢迎,  {{username}}    &#12288&#12288&#12288
						 
						<a  href="/logout/">登出</a>
					</p>

					<p class="pull-left">
						 <i class="glyphicon glyphicon-align-left"></i>

					</p>
					<p>
						 &#12288
					</p>
					<table class="table table-hover table-bordered">
					  <caption >{{username}}的船坞</caption>
					  <thead >
					    <tr >
					      <th>战舰级别</th>
					      <th>数量</th>
					      <th>备注</th>
					      <th>cd-key</th>
					    </tr>
					  </thead>
					  <tbody>
					    {% if ships.0 %}
						    <tr>
					      <td>护卫舰</td>
					      <td>{{ships.0}}</td>
					      <td>首发珍藏</td>
					      <td>尚未生成</td>
					    </tr>
						{% endif %}
					    {% if ships.1 %}
						    <tr>
					      <td>驱逐舰</td>
					      <td>{{ships.1}}</td>
					      <td>首发珍藏</td>
					      <td>尚未生成</td>
					    </tr>
						{% endif %}
					    {% if ships.2 %}
						    <tr>
					      <td>轻型巡洋舰</td>
					      <td>{{ships.2}}</td>
					      <td>首发珍藏</td>
					      <td>尚未生成</td>
					    </tr>
						{% endif %}
						{% if ships.3 %}
						    <tr>
					      <td>装甲巡洋舰</td>
					      <td>{{ships.3}}</td>
					      <td>首发珍藏</td>
					      <td>尚未生成</td>
					    </tr>
						{% endif %}
						{% if ships.4 %}
						    <tr>
					      <td>战列舰</td>
					      <td>{{ships.4}}</td>
					      <td>首发珍藏</td>
					      <td>尚未生成</td>
					    </tr>
						{% endif %}
					    
					  </tbody>
					 
					</table>
					 {% if not shipsnum %}
						    <p class="pull-right"> <i>您还没有任何战舰，获取战舰碎片以兑换首发战舰</i></p>
					 {% else %}
					 		 <p class="pull-right"> <i>正式上线后将统一生成 cd-key，作为换取区块链卡牌的唯一凭据</i></p>
						{% endif %}
					<br />
					<br />
					<ul >
					
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每邀请1位好友注册可获得10个战舰碎片</li>
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每隔24小时获得3次帮助好友获得碎片的机会 (每次3个碎片，次数不累加)</li>
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每隔24小时可以领取3个战舰碎片，并重置助攻好友次数</li>
					    
					
					</ul>
					 
					<br />
					<form role="form">

					    <p class="lead2 center">您目前拥有的战舰碎片：<i class="glyphicon glyphicon-cog"></i><b>{{credits}}</b></p>
					    {% if not checkin %}
					    <button  id='checkin' type="button" class=" btn btn-primary">获取战舰碎片并刷新助攻次数</button> 
					     
					     {% else %}
					     <button  id='checkin' type="button" class=" btn  disabled">冷却时间：{{cooldownh}}小时{{cooldownm}}分钟</button> 
					    {% endif %}
					   
					    <br />
					  
       					
                        <br />
                        <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" 
										   href="#collapseB">
											兑换创世战舰
										</a>
									</h4>
								</div>
								<div id="collapseB" class="panel-collapse collapse">
									<div class="panel-body">
										 <div class="row">
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/0.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">护卫舰</h3>
														                <p class="lead3">消耗10碎片</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary " role="button" id='ship0' onclick="getship(0)">
														                        兑换
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/1.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">驱逐舰</h3>
														                <p class="lead3">消耗100碎片</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship1' onclick="getship(1)">
														                        兑换
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/2.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">轻型巡洋舰</h3>
														                <p class="lead3">消耗500碎片</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship2' onclick="getship(2)">
														                        兑换
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/3.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">装甲巡洋舰</h3>
														                <p class="lead3">消耗1k碎片</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship3' onclick="getship(3)">
														                        兑换
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    
														</div>
														<div class="row">
														    
														    
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/4.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">战列舰</h3>
														                <p class="lead3">消耗10k碎片</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship4' onclick="getship(4)">
														                        兑换
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    <div class="col-sm-6 col-md-3">
														         <div class="thumbnail">
														            <img src="/static/img/ships/5.png" 
														             >
														            <div class="caption">
														                <h3 class="lead2">神秘战舰</h3>
														                <p class="lead3">暂未开放</p><br />
														                <p>
														                    <a href="#" class="btn btn-xs btn-primary disabled" role="button" onclick="">
														                        暂未开放
														                    </a> 
														                </p>
														            </div>
														         </div>
														    </div>
														    
														</div>
									</div>
								</div>
							</div>
       					<br />
					   <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" 
										   href="#collapseA">
											您还能帮助{{assistance}}位好友获得战舰碎片
										</a>
									</h4>
								</div>
								<div id="collapseA" class="panel-collapse collapse">
									<div class="panel-body">
										 <input type="friendid" class="form-control" id="friendid" name="friendid" placeholder="输入好友ID为其助攻"><br />
										 <button  id='assist' type="button" class="btn btn-sm btn-info pull-right" onclick='' >助攻好友</button> 
									</div>
								</div>
							</div>
       					<br />
					   <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" 
										   href="#collapseTwo">
											最近获得的战舰碎片
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="list-group" style="background-color: #f5f5f5">
										{% for i in recent %}
										    <li class="list-group-item" >{{ i}}</li>
										{% endfor %}
										</ul>
									</div>
								</div>
							</div>
					 
						<br />
					  
					  
						
					</form>
					<br />
					<br />
                    <div>
						{% if amwayresult %}
						     
						     <p class="lead">您已经邀请了{{num}}位好友:</p>
						     <ul class="list-group" style="background-color: #f5f5f5">
							{% for i in amwayresult %}
							    <li class="list-group-item" style="background-color: #e7e7e7">{{ i}}</li>
							{% endfor %}
							</ul>
							<br />
					<p class="lead">邀请的好友越多，得到的奖励也越丰厚</p>
						{% else %}
						<p class="lead">您还没有邀请任何好友注册，赶快去分享链接吧~</p>
						<br />	
							<p class="lead">作为首发玩家，邀请的好友越多，得到的首发奖励也越丰厚</p>
						{% endif %}
					</div>
					<p>
						 &#12288
					</p>
                </div>
				
                <div class="col-sm-4 wow fadeInLeftBig"  data-animation-delay="200" style="background-color: #e7e7e7">   
                	 <h3 class="section-heading">
						首发福利，立得创世战舰
					</h3>
					<p>
						 &#12288
					</p>
                  
                    <p class="lead2">
						 您的推广ID为：{{amwayid}}

					</p>

					
					<form role="form" >
					  <div class="form-group">
					    <label for="AmwayID">邀请您的好友注册凭借此邀请ID注册</label>
					    <textarea id='AmwayID' class="form-control" rows="1"></textarea>
					    
					  </div>
					  <button  id='copyAmwayID' type="button" class=" btn btn-info pull-right" onclick='copyAID()' >复制推广ID</button>
					  <p>
						 &#12288
					</p>
					</form>


					<form role="form">
					  <div class="form-group">
					    <label for="AmwayURL">或直接由以下链接注册</label>
					    <textarea id='AmwayURL' class="form-control" rows="1"></textarea>
					  </div>
					  <button  id='copyAmwayURL' type="button" class=" btn btn-info pull-right" onclick='copyAURL()' >复制推广链接</button>
						
					</form>

					
					
					

					<p>
						 &#12288
					</p>


                    <p class="lead3">
						-邀请3位好友加入即得护卫舰一艘。
					</p>
					<p class="lead3">
						-邀请10位好友加入即得驱逐舰一艘。
					</p>
					 
					<p class="lead3">
						-邀请100位好友加入即得轻型巡洋舰一艘。
					</p>
					<p class="lead3">
						-邀请100位好友加入即得重型巡洋舰一艘。
					</p>

					<p class="lead3">
						-邀请100位好友加入即得重型巡洋舰一艘。
					</p>
					<p class="lead3">
						-邀请1000位好友加入即得至尊战列舰一艘。
					</p>

					<p>
						 &#12288
					</p>

					<p >
						游戏正式上线后将关闭推广得舰渠道。
					</p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>



	<div id='footer'></div>
	
	
	


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.cookie.js"></script> 
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
 	 <script>
 	 	function copyAID(){
 	 		$('#AmwayID').select();
 	 		document.execCommand("Copy"); 
 	 	}
 	 	function copyAURL(){
 	 		$('#AmwayURL').select();
 	 		document.execCommand("Copy"); 
 	 	}
 	 	function getship(shiptype){
 	 		$.ajax({
	                            url: '/user/getship',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                            data:{shiptype:shiptype}
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;

	                          })   
 	 	}
 	 	recent='{{recent}}'
		$(function(){
			$('#head').load('/static/head.html', function() {
			  FlatfyInit();
			  $('.navbar-default').stickUp();

			});
			$('#footer').load('/static/footer.html');
			
			$('#AmwayID').val({{amwayid}});
			$('#AmwayURL').val("http://etherwarship.com/"+{{amwayid}})
			$("#checkin").click(function(){  

	                $.ajax({
	                            url: '/user/checkin',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });
			$("#assist").click(function(){  
					if(!$('#friendid').val())
						{ alert('请输入好友ID');
							return false;}
	                $.ajax({
	                            url: '/user/assist',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                            data:{friend:$('#friendid').val()}
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });
			credits={{credits}};
			if(credits<10000){
				$("#ship4").addClass("disabled");
			}
			if(credits<1000){
				$("#ship3").addClass("disabled");
			}
			if(credits<500){
				$("#ship2").addClass("disabled");
			}
			if(credits<100){
				$("#ship1").addClass("disabled");
			}
			if(credits<10){
				$("#ship0").addClass("disabled");
			}
            
		})
	</script>



	<!-- Smoothscroll -->

	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	

	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 



</body>

</html>
