 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<link rel="stylesheet" href="/static/css/magnific-popup.css">
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->

<!-- Custom CSS-->

<link href="/static/css/general.css" rel="stylesheet">
<!-- Magnific Popup core JS file -->


<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<div id='head'></div>


	<div class="blank" style="padding-top:10px">
		<div class="container padding-top:10px">
			<div class="row" onclick="location.href='/presell/';">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2 style="color:#34495e;font-size: 3.0em; -webkit-text-stroke-width:1px;-webkit-text-stroke-color:#ffffff; font-family: SimHei；">双重预购福利</h2>
				<p class="lead2" style="color:#34495e; -webkit-text-stroke-width:1px;-webkit-text-stroke-color:#ffffff; font-family: SimHei；">预充HNP满就送创世战舰，充值排行榜前列可得至尊无畏舰</p>
			 </div>
			</div>
		</div>
	</div>
	


	<div class="content-section-a" style="padding-top:10px">

        <div class="container" >
			
            <div class="row">
			
				<div class="col-sm-7 pull-right wow fadeInRightBig" style="background-color: #f5f5f5">
					
					<p class="pull-right">
						欢迎,  {{username}}    &#12288&#12288&#12288
						 
						<a  href="/logout/">登出</a>
					</p>

					<p class="pull-left">
						 <i class="glyphicon glyphicon-align-left"></i>

					</p>
					<br />
					<p class="lead" id='idforphone'>
						您的用户ID为  {{amwayid}}

					</p>
					<table class="table table-hover table-bordered">
					  <caption >{{username}}的船坞</caption>
					  <thead >
					    <tr >
					      <th>战舰级别</th>
					      <th>分类码</th>
					      <th>序列码</th>
					      <th>识别码</th>
					    </tr>
					  </thead>
					  <tbody>
					    {% for ship in ownedShips %}
					    <tr>
					      {% if ship.shipClass == 0 %}
					      <td>护卫舰</td>
					      {% endif %}
					      {% if ship.shipClass == 1 %}
					      <td>驱逐舰</td>
					      {% endif %}
					      {% if ship.shipClass == 2 %}
					      <td>轻型巡洋舰</td>
					      {% endif %}
					      {% if ship.shipClass == 3 %}
					      <td>重型巡洋舰</td>
					      {% endif %}
					      {% if ship.shipClass == 4 %}
					      <td>无畏战列舰</td>
					      {% endif %}
					      
					      <td>{{ship.shipClass}}</td>
					      <td>{{ship.id}}</td>
					      <td>{{ship.cdkey}}</td>
					    </tr>
					    {% endfor %}
					  </tbody>
					 
					</table>
					 {% if not shipsnum %}
						    <p class="pull-right"> <i>您还没有任何战舰，获取战舰碎片以兑换首发战舰</i></p>
					 {% else %}
					 		 <p class="pull-right"> <i>请牢记您的序列码和识别码，作为换取区块链卡牌的唯一凭据</i></p>
					{% endif %}
					<br />
					<br />
					<ul >
					
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每邀请1位好友注册可获得3个战舰碎片</li>
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每隔24小时获得3次帮助好友获得碎片的机会 (每次3个碎片，次数不累加)</li>
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 推广期间每隔24小时可以领取3个战舰碎片，并重置助攻好友次数</li>
					    <li ><i class="glyphicon glyphicon-bullhorn"></i> 游戏上线前充值即送战舰，充值排行榜前列更有豪华战舰</li>
					    
					
					</ul>
					 
					<br />
			
					
					<form role="form">

					    <p class="lead2 center">您目前拥有的战舰碎片：<i class="glyphicon glyphicon-cog"></i><b>{{credits}}</b></p>
					    {% if not checkin %}
					    <button  id='checkin' type="button" class=" btn btn-primary">获取战舰碎片并刷新助攻次数</button> 
					     
					     {% else %}
					     <button  id='checkin' type="button" class=" btn  disabled">冷却时间：{{cooldownh}}小时{{cooldownm}}分钟</button> 
					    {% endif %}
					   <a class="popup-modal btn btn-primary col-sm-offset-1" href="#test-modal">兑换传世战舰</a>
					   <a class="btn btn-info col-sm-offset-1"  href="\presell\">充值HNP送战舰</a>

					<div id="test-modal" class="white-popup-block mfp-hide">
						<div class="row">
						    <div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/0.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">护卫舰</h3>
						                <p class="lead3">消耗10碎片</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship0' onclick="getship(1)">
						                        兑换
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>
						    <div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/1.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">驱逐舰</h3>
						                <p class="lead3">消耗100碎片</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary disabled" role="button" id='ship1' onclick="">
						                        发放完毕
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>
						    
						    
						</div>
						<div class="row">
						<div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/2.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">轻型巡洋舰</h3>
						                <p class="lead3">消耗500碎片</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship2' onclick="getship(2)">
						                        兑换
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>
						    <div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/3.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">装甲巡洋舰</h3>
						                <p class="lead3">消耗1000碎片</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship3' onclick="getship(3)">
						                        兑换
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>

						</div>
						<div class="row">
						    
						    
						    <div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/4.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">战列舰</h3>
						                <p class="lead3">消耗10000碎片</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary" role="button" id='ship4' onclick="getship(4)">
						                        兑换
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>
						    <div class="col-sm-6 col-md-3">
						         <div class="thumbnail">
						            <img src="/static/img/ships/5.png" 
						             >
						            <div class="caption">
						                <h3 class="lead2">神秘战舰</h3>
						                <p class="lead3">暂未开放</p><br />
						                <p>
						                    <a href="#" class="btn btn-xs btn-primary disabled" role="button" onclick="">
						                        暂未开放
						                    </a> 
						                </p>
						            </div>
						         </div>
						    </div>
						    
						</div>
						<p><a class="popup-modal-dismiss" href="#">返回船坞</a></p>
					</div>
					    <br />
					  
       					
                        <br />
                        
                       
       					<br />
					   <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" 
										   href="#collapseA">
											您还能帮助{{assistance}}位好友获得战舰碎片
										</a>
									</h4>
								</div>
								<div id="collapseA" class="panel-collapse collapse in">
									<div class="panel-body">
										 <input type="friendid" class="form-control" id="friendid" name="friendid" placeholder="输入好友ID为其助攻"><br />
										 <button  id='assist' type="button" class="btn btn-sm btn-info pull-right" onclick='' >助攻好友</button> 
									</div>
								</div>
							</div>
       					<br />
					   <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" 
										   href="#collapseTwo">
											最近获得的战舰碎片
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse in">
									<div class="panel-body">
										<ul class="list-group" style="background-color: #f5f5f5">
										{% for i in recent %}
										    <li class="list-group-item" >{{ i}}</li>
										{% endfor %}
										</ul>
									</div>
								</div>
							</div>
					 
						<br />
					  
					  
						<form role="form">
					  <div class="form-group">
					    <label for="AmwayURL">可以直接由以下链接邀请好友注册或填写您的用户ID</label>
					    <textarea id='AmwayURL1' class="form-control" rows="1"></textarea>
					  </div>
				<br/>
						
					</form>

					</form>

                    <div>
						{% if amwayresult %}
						     
						     <p class="lead">您已经邀请了{{num}}位好友:</p>
						     <ul class="list-group" style="background-color: #f5f5f5">
							{% for i in amwayresult %}
							    <li class="list-group-item" style="background-color: #e7e7e7">{{ i}}</li>
							{% endfor %}
							</ul>
							<br />
					<p class="lead">邀请的好友越多，得到的奖励也越丰厚</p>
						{% else %}
						<p class="lead">您还没有邀请任何好友注册，赶快去分享链接吧~</p>
						<br />	
							<p class="lead">作为首发玩家，邀请的好友越多，得到的首发奖励也越丰厚</p>
						{% endif %}
					</div>
					<p>
						 &#12288
					</p>
                </div>
				
                <div class="col-sm-4 wow fadeInLeftBig"  id='amaypart' data-animation-delay="200" style="background-color: #e7e7e7">   
                	 <h3 class="section-heading">
						首发福利，立得创世战舰
					</h3>
					<p>
						 &#12288
					</p>
                  
                    <p class="lead2">
						 您的用户ID为：{{amwayid}}

					</p>

					
					<form role="form" >
					  <div class="form-group">
					    <label for="AmwayID">邀请您的好友输入邀请ID注册获得奖励</label>
					    <textarea id='AmwayID' class="form-control" rows="1"></textarea>
					    
					  </div>
					  <button  id='copyAmwayID' type="button" class=" btn btn-info pull-right" onclick='copyAID()' >复制推广ID</button>
					  <p>
						 &#12288
					</p>
					</form>


					<form role="form">
					  <div class="form-group">
					    <label for="AmwayURL">或直接由以下链接注册</label>
					    <textarea id='AmwayURL' class="form-control" rows="1"></textarea>
					  </div>
					  <button  id='copyAmwayURL' type="button" class=" btn btn-info pull-right" onclick='copyAURL()' >复制推广链接</button>
						
					</form>

					
					
					

					<br/><br/><br/>
					<p class="lead2">
						-每邀请一位好友注册游戏即可获得3个战舰碎片。
					</p>
					<p class="lead2">
						-每日签到即可领取3个战舰碎片。
					</p>
					<p class="lead2">
						-每人每日可以帮助三个好友获得战舰碎片，每次助攻3个。
					</p>
                    <p class="lead3">
						-10碎片即可兑换护卫舰一艘。
					</p>
					<p class="lead3">
						-100碎片即可兑换驱逐舰一艘。
					</p>
					 
					<p class="lead3">
						-500碎片即可兑换轻型巡洋舰一艘。
					</p>
					<p class="lead3">
						-1000碎片即可兑换重型巡洋舰一艘。
					</p>

				
					<p class="lead3">
						-10000碎片即可兑换至尊战列舰一艘。
					</p>

					<p>
						 &#12288
					</p>

					<p >
						游戏正式上线后将关闭推广得舰渠道,同时发放对应的区块链卡牌。
					</p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>



	<div id='footer'></div>
	
	
	


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.cookie.js"></script> 
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script src="https://cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

 	 <script>
 	 	function copyAID(){
 	 		$('#AmwayID').select();
 	 		document.execCommand("Copy"); 
 	 	}
 	 	function copyAURL(){
 	 		$('#AmwayURL').select();
 	 		document.execCommand("Copy"); 
 	 	}
 	 	function getship(shiptype){
 	 		$.ajax({
	                            url: '/user/getship',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                            data:{shiptype:shiptype}
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;

	                          })   
 	 	}
 	 	recent='{{recent}}'
 	 	function isMobile() {
		    var userAgentInfo = navigator.userAgent;

		    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

		    var mobile_flag = false;

		    //根据userAgent判断是否是手机
		    for (var v = 0; v < mobileAgents.length; v++) {
		        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
		            mobile_flag = true;
		            break;
		        }
		    }

		     var screen_width = window.screen.width;
		     var screen_height = window.screen.height;    

		     //根据屏幕分辨率判断是否是手机
		     if(screen_width < 500 && screen_height < 800){
		         mobile_flag = true;
		     }

		     return mobile_flag;
		}
		$(function(){
			
			$('.popup-modal').magnificPopup({
				type: 'inline',
				preloader: false,
				focus: '#username',
				modal: true
			});

			$(document).on('click', '.popup-modal-dismiss', function (e) {
				e.preventDefault();
				$.magnificPopup.close();
			});
			$('#head').load('/static/head.html', function() {
			  FlatfyInit();
			  $('.navbar-default').stickUp();
			  if(isMobile()) {  
		       // $("#amaypart").hide(); 
		       if(window.screen.width < 770){
				$('#amaypart').hide()
				}
				
		    } 
			});
			if(window.screen.width > 770){
				$('#idforphone').hide()
				}
			$('#footer').load('/static/footer.html');
						
			$('#AmwayID').val({{amwayid}});
			$('#AmwayURL').val("http://etherwarship.com/"+{{amwayid}})
			$('#AmwayURL1').val("http://etherwarship.com/"+{{amwayid}})
			$("#checkin").click(function(){  

	                $.ajax({
	                            url: '/user/checkin',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });

			$('.simple-ajax-popup-align-top').magnificPopup({
				type: 'ajax',
				alignTop: true,
				overflowY: 'scroll' // as we know that popup content is tall we set scroll overflow by default to avoid jump
			});

			$('.simple-ajax-popup').magnificPopup({
				type: 'ajax'
			});

			$("#assist").click(function(){  
					if(!$('#friendid').val())
						{ alert('请输入好友ID');
							return false;}
	                $.ajax({
	                            url: '/user/assist',
	                            type: 'post',
	                            headers:{"X-CSRFToken":$.cookie('csrftoken')},
	                            data:{friend:$('#friendid').val()}
	                          }).then(function(resp) {
	                            alert(resp.msg);
	                            location.reload() 
	                            return true;
	                          })                
	            });
			credits={{credits}};
			if(credits<10000){
				$("#ship4").addClass("disabled");
			}
			if(credits<1000){
				$("#ship3").addClass("disabled");
			}
			if(credits<500){
				$("#ship2").addClass("disabled");
			}
			if(credits<100){
				$("#ship1").addClass("disabled");
			}
			if(credits<10){
				$("#ship0").addClass("disabled");
			}
            
		})
	</script>



	<!-- Smoothscroll -->

	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	

	



</body>

</html>
